/* for hover #52ab98 */

html,
body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 1.8em;
}
.mainimg{
    background-image: url(photos/hand.jpg);
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.maincontent{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.maintext{
    background: #2b6777;
    color: #fff;
    padding: 20px;
}
.section{
    padding: 50px;
    text-align: center;
}
.intro{
    background-color: #c8d8e4;
    color: black;
}

.service{
    display: flex;
    flex-wrap: nowrap;
    background-color: #c8d8e4;
}
.service-heading{
    background-color: #c8d8e4;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    display: grid;
}
.service .service-item{
    margin: 20px 20px 30px 60px;
    flex: 0 0 40%;
    max-width: 470px;
}
.service .service-item .service-item-inner{
    /* background-color: var(--bg-black-100); */
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
    background-color: white;
}
.service .service-item .service-item-inner:hover{
    box-shadow: 0 0 20px #2b6777;
}
.service .service-item .service-item-inner .icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa-solid{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}
/* .service .service-item .service-item-inner:hover .icon{
    background-color: var(--skin-color);
} */
.service .service-item .service-item-inner:hover .icon .fa-solid{
    font-size: 25px;
    color: #52ab98;
}
.service .service-item .service-item-inner h3{
    font-size: 22px;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
    text-transform: capitalize;
}
.service .service-item .service-item-inner p{
    font-size: 17px;
    color: var(--text-black-700);
    line-height: 25px;
    color: rgb(0, 0, 0);
} 


